{% extends 'layout.twig' %}

{% block titulo %} 
	Usuarios 
{% endblock %}

{% block conteudo %} 

http://html5doctor.com/html5-forms-introduction-and-new-attributes/

	<form action="/users" method="post">
		
		{% if edit %}
			<input type="hidden" name="user-edit" value="{{ user }}" />	
		{% endif %}

		<label>
			Usuário <input type="text" name="user" value="{{ user }}" autofocus />	
		</label>

		<label>
			Senha <input type="text" name="password" value="{{ password }}" />
		</label>
		
		<label>
			<input type="checkbox" name="login" value="true" {% if login %} checked {% endif %} />
			Login
		</label>		
	
		<input type="submit" name="insert" value="Gravar">		
		
	</form>	

	{% if not edit %}
	
	  	{% for user in users %}			

			<form action="/users" method="post">
				<h3>{{ user.name }}</h3>
			
				<input type="hidden" name="user" value="{{ user.name }}" />
			
				<input type="submit" name="edit"   value="Editar" /> 
				<input type="submit" name="delete" value="Deletar" /> 			
			</form>
			
		{% else %}		
			<h2>Nenhum usuario cadastrado</h3>
		{% endfor %}
	

	{% endif %}
	
	<a href='/index'>Index</a>
	<a href='/users'>User</a>

{% endblock %}