{% extends 'layout.twig' %}

{% block titulo %} 
	Usuarios
{% endblock %}

{% block conteudo %} 

<div class="page-title">Cadastro de usuários</div>

<div  class="page-container clearfix">

	<div class="page-form-insert box-insert-user">

		<form action="users.php" method="post">
		
			{% if edit %}
				<input type="hidden" name="user-edit" value="{{ user }}" />	
			{% endif %}

			<div>
				<label for="user">Usuário:</label>
				<input id="user" type="text" name="user" value="{{ user }}" autofocus />	
			</div>

			<div>
				<label for="password">Senha:</label>
				<input id="password" type="text" name="password" value="{{ password }}" />						
			</div>

			<div>
				<label for="confirnpassword">Confirmar Senha:</label>
				<input id="confirnpassword" type="text" name="confirnpassword" value="{{ password }}" />						
			</div>		

			<div>
				<input id="login" type="checkbox" name="login" value="true" {% if login %} checked {% endif %} />
				<label for="login">Login:</label>							
			</div>

			<div>
				<input class="button green" type="submit" name="insert" value="Gravar">		
				<input class="button green" type="submit" name="cancel" value="Cancelar">		
			</div>

		</form>	           

	</div>	

	<div class="page-form-list box-list-user">
		{% if not edit %}	
		{% for user in users %}			

			<form action="users.php" method="post">
				<h3>{{ user.name }}</h3>
				
				<input type="hidden" name="user" value="{{ user.name }}" />
				
				<input type="submit" name="edit"   value="Editar" /> 
				<input type="submit" name="delete" value="Deletar" /> 			
			</form>

		{% else %}		
		<h2>Nenhum usuario cadastrado</h3>
		{% endfor %}
		{% endif %}


	</div>
</div>

{% endblock %}